* {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

body {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	line-height: 35px;
	max-width: 1024px;
	margin: 0 auto;
}

/* Header */
.header-inner {
	padding: 80px 0 41px 0;
	display: flex;
	flex-direction: column; 
	align-items: center;
	width: 100%;
	box-sizing: border-box;
}

.header-logo {
	margin-bottom: 46px;
}

/* Navigation */

.nav {
	width: 100%;
}

.nav .nav-list {
	display: flex;
	list-style: none;
	justify-content: center;
}

.nav-item {
	margin-right: 80px;
}

.nav-item:last-child {
	margin-right: 0;
}

.nav-item-link {
	text-decoration: none;
	font-size: 20px;
	line-height: 24px;
	color: #000;
}

.burger-icon-item {
	display: none;
}

/* Banner section*/

.carousel {
	width: 100%;
}

.carousel .slick-dots li button::before {
	font-size: 10px;
}

.info-section {
	margin-top: 41px;
	margin-bottom: 41px;
	text-align: center;
}

/* History section */

.content-section {
	width: 100%;
}

.section-title {
	font-size: 40px;
	line-height: 48px;
	font-weight: normal;
	text-transform: uppercase;
	padding: 15px 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	text-align: center;
}

.history-content {
	display: flex;
	justify-content: space-between;
	padding: 60px 0;
}

.history-item {
	width: 48%;
	font-size: 18px;
	line-height: 22px;
	color: #fff;
	background-color: #000;
	padding: 50px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.decor-year {
	font-size: 48px;
}

/* Contact us Section*/

.contact-form {
	width: 100%;
	margin-top: 47px;
	margin-bottom: 100px;
	box-sizing: border-box;
	padding: 30px;
	display: flex;
	justify-content: space-between;
	border: 1px solid #000;
}

.comment-field {
	width: 50%;
	border: none;
	font-size: 18px;
	line-height: 22px;
	padding: 5px;
	resize: none;
}

.send-btn {
	width: 200px;
	height: 60px;
	font-size: 28px;
	text-transform: uppercase;
	color: #fff;
	background: #000;
	border-radius: 8px;
	border: none;
}

@media screen and (min-width: 376px) and (max-width: 1024px) {

	.header-inner {
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding: 48px 48px 26px 48px;
		box-sizing: border-box;
		flex-direction: row;
		justify-content: center;
	}

	.header-inner::after {
		content: "";
		display: block;
		width: 48px;
    	height: 31px;
    	margin-left: auto;
		visibility: hidden;
	}

	.header svg {
		width: 80px;
		height: 48px;
	}

	.banner-section {
		padding: 0 48px 0 48px;
	}

	.header.menu-open path {
		fill: #fff;
	}

	.header-logo {
		margin-bottom: 0px;
	}

	.info-section {
		margin-top: 24px;
		margin-bottom: 41px;
		text-align: center;
		font-size: 20px;
	}

		/* Open-menu */

	.header.menu-open {
		background: #000;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		width: 100%;
		min-height: 316px;

	}

	.header.menu-open + main {
		margin-top: 130px;
	}

	.header.menu-open .header-inner {
		position: relative;
	}

	.header.menu-open .nav {
		display: block;
		position: absolute;
		top: 176px;
		left: 0;
	}

	.header.menu-open .nav-item-link {
		color: #fff;
		font-size: 24px;
		line-height: 30px;
	}


	.header.menu-open .burger-icon-item,
	.header.menu-open .burger-icon-item:after {
		background: #fff;
	}

	.header.menu-open .burger-icon {
		width: 48px;
		height: 48px;
		transform: rotate(45deg);
	}

	.header.menu-open .burger-icon-item:after{
		transform: rotate(90deg);
		bottom: 0;
		left: 0;
	}

	.header.menu-open .burger-icon-item:before {
		content: none;
	}

	/*Burger icon*/
	.burger-icon {
		width: 48px;
    	height: 31px;
		border: none;
		background: none;
		margin-right: auto;
		/*position: absolute;
	    left: 0;
	    top: 70px;*/
	    outline: none;
	}

	.burger-icon-item {
		display: block;
		width: 48px;
		height: 5px;
		background: #000;
		position: relative;
		cursor: pointer;
		display: block;
	}

	.burger-icon-item:before {
		content: "";
		display: block;
		width: 48px;
		height: 5px;
		background: #000;
		position: absolute;
		top: -13px;
		left: 0;
	}

	.burger-icon-item:after {
		content: "";
		display: block;
		width: 48px;
		height: 5px;
		background: #000;
		position: absolute;
		bottom: -13px;
		left: 0;
	}

	/*Как оказалось если не сделать для nav display: none; то оно схлопывается без высоты, но занимает ширину, и тогда 
	горизонтальное распределение элементов на флексах не работает*/

	.nav {
		display: none;
	}

	/*.nav .nav-list {
		display: none;
	}*/

	.menu-open .nav .nav-list {
		display: flex;
	}

	/* History section */

	.content-section {
		width: 100%;
		padding: 0 48px;
		box-sizing: border-box;
	}

	.section-title {
		font-size: 28px;
		line-height: 34px;
		font-weight: normal;
		text-transform: uppercase;
		padding: 15px 0;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
		text-align: center;
	}

	.history-content {
		display: flex;
		flex-direction: column;
		padding: 32px 0;
	}

	.history-item {
		width: 100%;
		font-size: 18px;
		line-height: 22px;
		color: #fff;
		background-color: #000;
		padding: 50px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		margin-bottom: 32px;
	}

	.history-item:last-child {
		margin-bottom: 0;
	}

	.decor-year {
		font-size: 48px;
	}

}

@media screen and (max-width: 375px) {

	.header {
		min-height: 187px;
		background: #000;
	}

	.header-inner {
		width: 100%;
		margin: 0 auto;
		position: relative;
		padding: 0;
		flex-direction: row;
	}

	.carousel {
		width: 375px;
		margin: 0 auto;
	} 

	.header .header-logo,
	.header .nav {
		display: none;
	}

	.banner-section {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.info-section {
		font-size: 18px;
		line-height: 22px;
		padding: 0 20px;
		box-sizing: border-box;
}

		/*Burger icon*/
	.burger-icon {
		width: 48px;
    	height: 31px;
		border: none;
		background: none;
		margin-right: auto;
		position: absolute;
	    left: 19px;
	    top: 23px;
	    outline: none;
	}

	.burger-icon-item {
		display: block;
		width: 48px;
		height: 5px;
		background: #fff;
		position: relative;
		cursor: pointer;
		display: block;
	}

	.burger-icon-item:before {
		content: "";
		display: block;
		width: 48px;
		height: 5px;
		background: #fff;
		position: absolute;
		top: -13px;
		left: 0;
	}

	.burger-icon-item:after {
		content: "";
		display: block;
		width: 48px;
		height: 5px;
		background: #fff;
		position: absolute;
		bottom: -13px;
		left: 0;
	}

	.burger-icon-item,
	.burger-icon-item::before,
	.burger-icon-item::after {
		z-index: 2;
	}

	/* History section */

	.content-section {
		padding: 0 20px;
		box-sizing: border-box;
	}

	.history-section {
		margin-top: 368px;
	}

	.section-title {
		font-size: 20px;
		line-height: 24px;
	}

	.history-content {
		flex-direction: column;
		padding: 25px 0;
	}

	.history-item {
		width: 100%;
		font-size: 16px;
		line-height: 19px;
		padding: 20px;
		margin-bottom: 32px;
	}

	.history-item:last-child {
		margin-bottom: 0;
	}

	.decor-year {
		font-size: 24px;
		line-height: 29px;
		display: block;
	}

	/* Contact us Section*/

	.contact-form {
		margin-top: 32px;
		margin-bottom: 100px;
		flex-direction: column;
		border: none;
		padding: 0;
	}

	.comment-field {
		width: 100%;
		height: 150px;
		box-sizing: border-box;
		border: 1px solid #000;
		padding: 20px;
		margin-bottom: 19px;
	}

	.send-btn {
		width: 100%;
		font-size: 24px;
	}

		/* Open-menu section*/

	.header.menu-open {
		background: #000;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		height: 332px;
		width: 100%;
		padding: 24px 20px 0 20px;
		box-sizing: border-box;
	}

	.header.menu-open .header-inner {
		justify-content: space-between;
	}

	.header.menu-open svg {
		width: 80px;
		height: 48px;
	}

	.header.menu-open path {
		fill: #fff;
	}

	.header.menu-open .header-inner:after{
		display: none;
	}

	.header.menu-open .burger-icon {
		position: static;
	}

	.header.menu-open .header-logo {
		display: block;
		margin-bottom: 0;
	}


	.header.menu-open .burger-icon-item,
	.header.menu-open .burger-icon-item:after {
		background: #fff;
	}

	.header.menu-open .burger-icon {
		width: 48px;
		height: 48px;
		transform: rotate(45deg);
	}

	.header.menu-open .burger-icon-item:after{
		transform: rotate(90deg);
		bottom: 0;
		left: 0;
	}

	.header.menu-open .burger-icon-item:before {
		content: none;
	}

	.header.menu-open .nav {
		display: block;
		position: absolute;
		top: 96px;
		left: 0;
	}

	.header.menu-open .nav-list {
		flex-direction: column;
	}

	.header.menu-open .nav-item {
		margin-right: 0;
		margin-bottom: 48px;
	} 

	.header.menu-open .nav-item:last-child {
		margin-right: 0;
		margin-bottom: 44px;
	} 

	.header.menu-open .nav-item-link {
		font-size: 20px;
		line-height: 24px;
		color: #fff;
	}

	.header.menu-open + main {
		margin-top: 555px;
	}


}

